<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Shracker</h1>
  <h2>Getcha Shrack On</h2>

  <ul>
    <li><a href="/shirts">See all the shirts</a></li>
  </ul>

  <%= yield %>

</body>
</html>
